@import '../../CONSTANTS/style-colors';

.article {
    margin-top: 25px;
    max-height: 140px;
    padding: 15px 20px;
    background-color: $background-color-base;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    @media (max-width: 850px) { 
        max-height: 200px;
    }
    &--isFull {
        height: 100%;
        max-height: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        @media (max-width: 560px) { 
            flex-direction: column;
        }
    }
    &__info {
        @media (max-width: 560px) { 
            order: 2
        }
    }
    &__title {
        display: inline-block;
        margin-right: 15px;
        font-size: 20px;
        line-height: 28px;
        color: $info-color;
        cursor: pointer;
    }   
    &__tags { 
        display: flex;
    
        & li {
            margin-right: 5px;
            padding: 0 5px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            color:$text-color-secondary;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        text-align: right;
        @media (max-width: 560px) { 
            justify-content: space-between;
            order: 1;
            text-align: left; 
        }
    }
    &__author-data {
        margin-right: 12px;
    }
    &__author-name {
        font-size: 18px;
        line-height: 28px;
        color: $heading-color;
    }
    &__date {
        color: $text-color-secondary;
    }
    .article__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
    
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    &__control-btns {
        position: relative;
    }
    &__btn {
        margin-left: 12px;
        padding: 6px 18px;
        font-size: 14px;
        line-height: 22px;
        border: 1px solid #F5222D;
        border-radius: 5px;
        background-color: $background-color-base;
        cursor: pointer;
    
        &:focus,
        &:hover {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
    &__btn--delete {
        border-color: $error-color;
        color: $error-color;
    }

    &__btn--edit {
        padding: 9px 18px;
        border-color: $success-color;
        color: $success-color;
    }
}
